{
  "parserOptions": {
    "ecmaVersion": 3
  },
  "globals": {
    "window": true,
    "jQuery": true,
    "define": true,
    "module": true,
    "noGlobal": true
  },
  "rules": {
    "strict": ["error", "function"]
  }
}
